body {
    background-color: #EDF3F9;
    background-image: url(bg.jpeg);
    text-align: center;
    animation: fadeIn 5s;
    display: flexbox;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1;}

}
.index {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: #3B516F;
}
.btn {
    text-decoration: none;
    padding: 0.5rem;
    border: 1px solid #333333;
    background-color: white;
    color: #3B516F;
    border-radius: 10px;
    box-shadow: 0 4px 4px #333333;
}
.dp1 {
    background-color: #F8CE6E ;
    border: #333333;
    border-radius: 10px;
    border: 2px solid #3B516F;
    box-shadow: 0 4px 4px #333333;
    padding: 10px;
    width: 50%;

}
img {
    border-radius: 50%;
    border: 2px solid #3B516F;
    box-shadow: 0 4px 4px #333333;
    width: 80%
}

ul {
    display: table;
    margin: 0 auto;
    text-align: left;
}
ol {
    display: table;
    margin: 0 auto;
    text-align: left;
}
.t1 {
    border: 2px solid #3B516F;
    margin: 0 auto;
    display: table;
    align-content: center;
}
a:hover {
    color: #F8CE6E;
    transform: scale(1.05);
    opacity: 0.5;
}
.form1 {
    display: flexbox;
    background-color: #F8CE6E ;
    margin: 0 auto;
    display: table;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 4px #333333;
    padding: auto;

}
.body1 {
    display: flex;
    justify-content: space-around;
}
.dir1 {
    background-color: #F8CE6E ;
    border: #333333;
    border-radius: 10px;
    border: 2px solid #3B516F;
    box-shadow: 0 4px 4px #333333;
    padding: auto;
}
img:hover {
    transform: scale(1.05);
}